@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <style>
            li {
                color: white;
            }

            #cart {
                position: center;
                padding-top: 0.5cm;
            }

            #carticon {
                margin-top:0.4cm;
                padding-right:1cm;
            }

            #cartContent {
                z-index: 100;
                text-align: center;
                background-color: ghostwhite;
                border-color: black;
                border: solid;
                position: absolute;
                left: 22cm;
                top: 1.5cm;
                width: 8cm;
                display: none;
            }

            #loginLink {
                height:20px;
                
            }
        </style>
        
        <ul class="nav navbar-nav navbar-right">
            <li style="font-size:1.5em;" id="carticon" class="fa fa-shopping-cart"></li>
            
            <li>
                @Html.ActionLink("ESP ",ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language="es-AR"}, new { style = "color: white" })
            </li>
            <li>
               @Html.ActionLink("ENG ", ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "en-US" }, new { style = "color: white" })
            </li>
            <li id="loginLink">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new { style = "color: white" })
            </li>
            <li>
                @Html.ActionLink("LogOff ", "LogOff", "Account", null, new { style = "color: white" })
            </li>


        </ul>
        <div id="cartContent" class="jumbotron">
            <ul id="lista"></ul>

            <a class="btn btn-success" href=@Url.Action("Index", "Cart")>@ASF.UI.WbSite.Resources.MyText.ViewCart</a>

        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        @*<li>@Html.ActionLink("Registrar", "Register", "Account", new { area = "" },htmlAttributes: new { id = "registerLink" } )</li>

            <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>*@

        
        <li><a style="color:white" href="/account/register/" id="registerLink"><span class="fa fa-user"></span> Sign Up</a></li>
        <li><a style="color:white" href="/account/login" id="loginLink"><span class="fa fa-sign-in"></span> Login</a></li>



    </ul>
}
