@model ASF.UI.Process.CartCompleta
@{
    ViewBag.Title = "Index";
    var total = 0;
}

<style>
   
</style>


<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="text-center">Product</th>
                        <th class="text-left">Descripcion</th>                        
                        <th class="text-center">Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>  
                   
                @foreach (var item in Model.detalle)
                {
                    var subtotal = item.Price * item.Quantity;
                  
                    total = total +Convert.ToInt32(subtotal);
                    <tr>
                        <td class="col-sm-8 col-md-2">
                            <br />
                            <div>
                                <img src="@Url.Action("Images", "Cart", new { id = item.ProductId })" style="text-align:center; vertical-align:middle" width="90" height="90" />
                            </div>
                              
                        </td>
                        <td>
                            <br />
                            <br />
                          
                            <div >
                                <h4>@item.Pdescripcion</h4>
                            </div>
                        </td>
                       
                        <td class="col-sm-1 col-md-1" style="text-align: center" height="160.56">
                            <br />
                            <br />
                            
                            <h5><strong>@item.Quantity</strong></h5>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <br />
                            <br />
                            <h4> <strong>$@item.Price</strong></h4>
                        </td>
                        <td class="col-sm-1 col-md-1 text-center">
                            <br />
                            <br />                            
                            <h5><strong>$@subtotal</strong></h5>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <br />
                            <br />                          
                            @*@Html.ActionLink("Detalles", "ProductDetail", new { id = item.Id }, new { @class = "btn btn-primary" })*@
                            <a href="@Url.Action("Remove", "Cart",new { id = item.Id})", style="font-size:26px" class="fa fa-remove">                                
                            </a>

                            @*<button type="button" class="btn btn-danger">
                              
                                <span class="fa fa-remove"></span> Remove
                            </button>*@
                        </td>
                    </tr>
                }
                    
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$@total</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                           
                            @*<a href="@Url.Action("Index", "Product")" class="btn btn-primary">                               
                                <span id="span" class="fa fa-shopping-cart"> Continue Shopping</span>
                            </a>*@
                            @Html.ActionLink("Continue Shopping", "Index", "Product",null, new { @class = "btn btn-info" });

                            @*<li><a id="a" href="@Url.Action("Index","Product")"><span aria-hidden="true" class="btn btn-success fa-shopping-cart"></span> ContinueShopping</a></li>*@
                        </td>
                        <td>
                            @Html.ActionLink("CheckOut","Index", "CheckOut", null, new { @class = "btn btn-success" })
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>









@*<h2>Index</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Cart</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.IdUser, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.IdUser, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.IdUser, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CartDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ItemCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ItemCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ItemCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rowid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Rowid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Rowid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedOn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedOn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangedOn, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChangedOn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChangedOn, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ChangedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ChangedBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ChangedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
